/* Your amazing stylesheet */
/*The site uses three different font weights : 100, 300 and 900
Titles and headings use the color : #333333
The banner uses the color : #FFFFFF
The content uses the color : #666666*/
/*Have your site only using flex instead of floats or positioning.
*/


Body {
  font-family: 'Roboto', sans-serif;
          }

header {
  display: flex;
  justify-content: flex-end;
 align-items:center;
 padding:12px 100px;
 color:#666666
}

div { 
  font-size: 150%;
  letter-spacing: 1px;

 }

span {
  background-color:#e1231a;
  color:#FFFFFF;
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom:3px;
  padding-left: 7px;
  font-weight:900;
  letter-spacing: 2px;
  font-kerning: normal
}
  


a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.nav_links {
    list-style: none;
}

.nav_links li{
  display:inline;
  padding:0px 5px;
}

footer{
    background-color: #333333;
    color:#FFFFFFF;
    padding:15px;
       
       }
footer p{
  color:#ffffff;
  font-size:10px; 
} 

h1{
  text-align: center;
  font-size:210%;
  font-weight:900;
   }

h2{
  text-align: center;
  color: #333333;
  font-weight:900;
  font-style:Bold;
  font-size:28px;
     }

h3{
  text-align: center;
  Font-weight:100;
  }

p{
  text-align: center;
  color: #666666;
  font-size:12px;
  line-height:24px;
}

form{
  text-align: center;
}

ul{
  Font-size:12px;
  color:#000000;
}

#logo_area{
            cursor: pointer;  
            background-size:10%;
            margin-right:auto;  
           }

#banner{
   background-color:#e1231a;
   letter-spacing: 2px;
   color:#FFFFFF;
   padding:125px 0px 155px 0px;
  }

#about
{
  padding:0px 150px 50px;
}

#contact{
   padding:10px 0px 200px;
}

input[type=text]{
   background: transparent;
   border: none;
   border-bottom: 1px solid #c2c2c2;
   width: 800px;
   padding-bottom:45px;
  }

 label{ 
  color: #666666;
  font-size:12px; 
  position: absolute;
  padding-top:15px;
}

input[type=submit]{
  color:#ffffff;
  background-color:#e1231a;
  border: none;
  padding: 10px 38px;
  border-radius: 50px;
  margin-right:50%;
}
